<section class="component-section">
  <h1 class="section-title">Display An Image Over a Container</h1>
  <div>
    <div class="all-cards-container">
      <div class="card-container">
        <div class="test-div">
          <table>
            <tbody>
              <tr>
                <td>Lorem ipsum dolor sit amet</td>
                <td>Lorem ipsum dolor sit amet</td>
                <td>Lorem ipsum dolor sit amet</td>
              </tr>
              <tr>
                <td>Lorem ipsum dolor sit amet</td>
                <td>Lorem ipsum dolor sit amet</td>
                <td>Lorem ipsum dolor sit amet</td>
              </tr>
              <tr>
                <td>Lorem ipsum dolor sit amet</td>
                <td>Lorem ipsum dolor sit amet</td>
                <td>Lorem ipsum dolor sit amet</td>
              </tr>
              <tr>
                <td>Lorem ipsum dolor sit amet</td>
                <td>Lorem ipsum dolor sit amet</td>
                <td>Lorem ipsum dolor sit amet</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <img
          class="image"
          src="https://i.ytimg.com/vi/iSwcq8gOtHU/mqdefault.jpg"
          alt="Thumbnail image for video titled X5M Crazy Tuned"
        /> -->
        <div class="likes-container">
          <p class="profile">
            <i class="fas fa-user-alt"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <img
          class="image"
          src="https://i.ytimg.com/vi/iSwcq8gOtHU/mqdefault.jpg"
          alt="Thumbnail image for video titled X5M Crazy Tuned"
        /> -->
