<section class="component-section">
  <h1 class="section-title">Display Text Over an Image</h1>
  <div class="all-cards-container">
    <div class="card-container">
      <a
        class="likes-link"
        href="https://www.youtube.com/watch?v=iSwcq8gOtHU"
        target="_blank"
      >
        <img
          class="image"
          src="https://i.ytimg.com/vi/iSwcq8gOtHU/mqdefault.jpg"
          alt="Thumbnail image for video titled X5M Crazy Tuned"
        />
        <div class="likes-container">
          <p class="likes"><i class="fas fa-eye"></i> 222</p>
          <p class="likes"><i class="fas fa-thumbs-up"></i> 1</p>
        </div>
      </a>
    </div>

    <div class="card-container desktop">
      <a
        class="likes-link"
        href="https://www.youtube.com/BHACKCNDMW8"
        target="_blank"
      >
        <img
          class="image"
          src="https://i.ytimg.com/vi/BHACKCNDMW8/mqdefault.jpg"
          alt="Thumbnail image for video titled 3 Hours of Amazing Nature Scenery & Relaxing Music for Stress Relief."
        />
        <div class="likes-container">
          <!-- <p class="likes"><i class="fas fa-eye"></i> 50,012</p> -->
          <p class="likes"><i class="fas fa-thumbs-up"></i> 4,512</p>
        </div>
      </a>
    </div>
  </div>
</section>
